{% extends 'shop/bprivacy.html' %}

{% block title%} Eat' Cupcakes - FAQ{% endblock %}
{% block body%} 

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">FAQ
        </h1>
        <h5 class="display-5">How do I care for my Eat' Cupcakes?
        </h5>
        <p>It is important to keep your Eat'  Cupcakes at room temperature. Do not refrigerate them as this will dry out the cake. 
        </p>
            <h5 class="display-5">How long do Eat'  Cupcakes stay fresh?
            </h5>
            <p>We encourage you to enjoy them at their freshest, on the day of purchase. If you plan to keep your cupcakes longer than two days, plastic wrap the box or place the cupcakes in an airtight container and freeze.
            </p>
                <h5 class="display-5">Do you sell mini cupcakes?
                </h5>
                <p>Yes, our bakery sells an assortment of minis available for walk-in guests. You may also advance order 1 dozen or more minis of the same flavor.
                </p>
                    <h5 class="display-5">Can I order in advance?
                    </h5>
                    <p>Contact Us is the fastest way to order or have cupcakes delivered for small to medium sized orders up to 7 days in advance. For catering orders, custom decorations, layered cakes, minis and further scheduled out orders you may place an order through our catering site. 
                    </p>
                        <h5 class="display-5">If I order in advance, can I order any of your flavors?
                        </h5>
                        <p>We can make all our flavors of the day.  Check when ordering for flavors available on certain days of the week.  So, if you are ordering for pickup or delivery on a Monday, please choose from our Monday flavors.
                        </p>
                        <h5 class="display-5">If I order in advance, do I have to wait in line to pickup my cupcake order?
                        </h5>
                        <p>Skip right to the front of the line! Just give our counter staff your name and they will take care of you.
                        </p>
                            <h5 class="display-5">Can I place an order for cupcakes on the same day that I need them?
                            </h5>
                            <p>Contact Us now! And you can order from our everyday flavors of regular cupcakes, cookies, brownies and assorted boxes for with ASAP delivery and pickup options available.  Through our catering ordering site you may place an advance orders for pickup in 2 hours or delivery within 4 hours. Order cupcakes online or call (+230) 5905-6329.
                            </p>
                            <h5 class="display-5">Do you ship cupcakes by mail?</h5>
                            <p>Eat' Cupcakes does not currently ship our cupcakes by mail. We do ship our cupcake mixes and other retail items. To place an order for retail shipping, order online or call our dedicated order line at (+230) 5905-6329.
                            </p>
                            <h5 class="display-5">Does Eat' Cupcakes offer franchising?
                            </h5>
                            <p>Eat' Cupcakes  does not offer franchises, however we are growing quickly and hope to open in a town near you soon!
                            </p>
                            <h5 class="display-5">Can you do cupcakes for my wedding?
                            </h5>
                            <p>Yes!  See our wedding slider for ideas and inspiration.
                            </p>
                            <h5 class="display-5">Can you do custom decorations?</h5>
                            <p>Yes! We can print your graphic on our sugar decorations – great for corporate gifts, weddings and special occasions! For more information, visit our custom decorations page. We also offer a variety of custom and seasonal decorations.
                            </p>
                                <h5 class="display-5">Can you write Happy Birthday on my cupcakes?
                                </h5>
                                <p>We can if you contact us about your info!
                                </p>
                                <h5 class="display-5">Do all of your cupcakes contain dairy/sugar/peanuts?
                                </h5>
                                <p>Eat' Cupcakes offers Sugar Free, Gluten Free and Vegan versions of our Red Velvet cupcakes daily at all bakeries. We also now have a Gluten Free Lemon Blueberry cupcake available daily.  However, we bake with flour, dairy, sugar, peanuts and walnuts on the premises, so Eat' Cupcakes is not recommended for those with severe allergies to these ingredients.
                                </p>
                                <h5 class="display-5">Do your cupcakes contain trans fats?
                                </h5>
                                <p>Eat' Cupcakes contain no trans fats.</p>
                                
                
      </div>
  </div>
  </main>

{% endblock %}