{% extends 'shop/bprodView.html' %}

{% block title%} {{product.product_name}} - Eat' Cupcakes{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{product.image}}" max-width="250px" height="200px">

    </div><br>
    <div class="row">
        <a class="btn btn-warning mx-3" href="/shop">Go back to Shop</a>
    </div>

</div>

<div class="col-md-8">
    <h5>{{product.product_name}}</h5>
    <p><b>Rs.{{product.price}} </b></p>
    <p>{{product.desc}}</p>


</div>
</div>
    </div>


{% endblock %}

